{
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "rules": {
    "no-console": "off"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"]
}
